<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Result</h2>
  <ul *ngIf="recordLabels">
    <li *ngFor="let recordLabel of recordLabels | keyvalue">
      {{ recordLabel.key }}
      <ul>
        <li *ngFor="let band of recordLabel.value | keyvalue">
          {{band.key}}
          <ul>
            <li *ngFor="let festival of band.value">{{festival.name}}</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <ul *ngIf="!loading && errors.length === 0 && !recordLabels">
    <li>Ooops, no record labels found. Looks like API server did not return any data. (API endpoint returned "")</li>
  </ul>

  <ul *ngIf="errors.length > 0">
    <li *ngFor="let error of errors">{{error.message}}</li>
  </ul>
</div>
